*,
::after,
::before {
	box-sizing: border-box;
}

h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #f44336;
	padding: 30px, 40px;
	color: white;
	text-align: center;
}

.header::after {
	content: "";
	display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    float: left;
}

.addBtn {
    padding: 10px;
    background-color: #d9d9d9;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background-color: #eee;
	font-size: 18px;
	transition: 0.2s;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

ul li:nth-child(odd) {
	background-color: #f9f9f9;
}

ul li:hover {
	background-color: #ddd;
}

ul li.checked {
	text-decoration: line-through;
	background-color: #888;
	color: #fff;
}

ul li.checked::before {
	content: " ";
	height: 15px;
	width: 7px;
	position: absolute;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}

.close:hover {
	background-color: #f44336;
	color: white;
}
